$font-family-main: "Josefin Sans", sans-serif;

$font-size-main: 16px;
$font-size-title: 69px;

$font-size-main-phone: 14px;
$font-size-title-phone: 40px;

$font-weight-small: 300;
$font-weight-medium: 400;
$font-weight-large: 600;

$line-height-main: 28px;
$line-height-title: 75px;
$letter-spacing-main: 0.5px;
$letter-spacing-title: 16px;

$line-height-main-phone: 22px;
$line-height-title-phone: 42px;
$letter-spacing-main-phone: 0px;
$letter-spacing-title-phone: 10px;

$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);
$color-dark-grayish-red: hsl(0, 6%, 24%);

$container-padding-left: 17%;
$container-padding-right: 28%;

$input-padding: 20px 112px 20px 30px;
$input-padding-error: 20px 155px 20px 30px;

$input-padding-phone: 17px 70px 17px 25px;
$input-padding-error-phone: 17px 103px 17px 25px;

$button-padding: 20px 48px;
$button-padding-phone: 16px 28px;

$lottie-length: 80%;
$lottie-length: 80%;
